<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!--Cabecalho-->
    <div th:replace="~{layout :: cabecalho}"></div>

    <!--Conteudo da pagina-->
    <slot>




    </slot>


    <!--Footer-->
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>