<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Atualizar item</title>
</head>
<body>
    <!--Cabecalho-->
    <div th:replace="~{layout :: cabecalho}"></div>

    <!--Conteudo da pagina-->
    <slot>
		<form action="/updateItem" method="POST" modelAttribute="item">
            <p></p>
            <div class="container">
				<div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Id</label>
                    <input type="text" class="form-control" name="id" th:value="${item.id}" id="formGroupExampleInput" placeholder="Example input placeholder" readonly>
                </div>
				<div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" th:value="${item.nome}" id="formGroupExampleInput2" placeholder="Example input placeholder" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Valor</label>
                    <input type="text" class="form-control" name="valor" th:value="${item.valor}" id="formGroupExampleInput2" placeholder="Example input placeholder" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput3" class="form-label">Descricao</label>
                    <input type="text" class="form-control" name="descricao" th:value="${item.descricao}" id="formGroupExampleInput3" placeholder="Example input placeholder" required>
                </div>

				<a class="btn btn-secondary" href="/catalogo">Retornar</a>
                <input type="submit" class="btn btn-primary" value="Atualizar">
            </div>
        </form>



    </slot>


    <!--Footer-->
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>